connection = sqlite3.connect(os.getcwd() + 'e-commerce.sqlite')
connection

query = 'select * from `orders`'
order = pd.read_sql(query, connection)
order

# DS School 데이터 분석

In [1]:
import sqlite3
import pandas as pd
import os

# 0. Load data

### * 믹스패널 데이터
>- 2009년 설립된 믹스패널은 사용자 추적을 기본으로 하는 분석 툴로, 원하는 서비스 사용자를 지정하면 해당 유저의 활동을 모두 조회할 수 있는 기능을 제공해줍니다. 이를 통해 해당 사용자 그룹의 특성과 사용 패턴을 알 수 있습니다. 유명 액셀러레이터 ‘Y Combinator’의 멤버로 트위치, 우버, 핏빗, 스포티파이, 세일즈포스 등의 고객사를 보유하고 있으며 2016년 1월 기준 누적 투자액 800억원을 기록함과 동시에 기업 가치 9,000억원대로 평가 받는 분석툴이기도 합니다. 실시간분석이 가능하며 코호트 분석과 잔존율, 퍼널 분석이 가능합니다. 믹스패널 데이터 또한 고객의 유입경로 등의 정보를 가지고 있습니다.


## 1. 데이터베이스에서 설문조사 결과를 읽어와주세요. 그 다음 사용자와 질문을 기준으로 정렬해주세요.
>- surveys를 user_id와 question_id, 그리고 created_at를 기준으로 정렬해주세요.

In [7]:
connect = sqlite3.connect(os.getcwd() + '/dsschool/dsschool.db')
connect

In [9]:
query = 'select * from surveys'
survey = pd.read_sql(query, connect)
print(survey.shape)
survey.head()

(136063, 17)

,survey_id,user_id,question_id,answer1_selected,answer2_selected,answer3_selected,answer4_selected,answer5_selected,answer6_selected,answer7_selected,answer8_selected,answer9_selected,answer10_selected,answer11_selected,answer12_selected,created_at,updated_at
0,dt9gwdq9od02,orqcrchp0s2a,6,f,f,f,t,f,f,None,None,None,None,None,None,2018-01-03 05:42:02.303657,2018-01-03 05:42:02.303657
1,6db349t1avoz,0okqilfizbm0,6,f,f,t,t,f,f,None,None,None,None,None,None,2018-01-03 21:07:08.255947,2018-01-03 21:07:08.255947
2,iuh1km11h7td,08w2telpm7ql,6,f,f,f,t,t,t,None,None,None,None,None,None,2018-01-04 16:06:34.609819,2018-01-04 16:06:34.609819
3,np4c2056ovmv,489cr69azkwb,6,f,f,f,t,t,t,None,None,None,None,None,None,2018-01-05 06:20:36.441461,2018-01-05 06:20:36.441461
4,hq9epyzv3wsv,ker7vpzk48g0,6,f,f,t,f,t,t,None,None,None,None,None,None,2018-01-19 06:35:25.292356,2018-01-19 06:35:25.292356

In [10]:
# 정렬
survey = survey.sort_values(['user_id','question_id','created_at']).reset_index(drop=True)
survey.head()

,survey_id,user_id,question_id,answer1_selected,answer2_selected,answer3_selected,answer4_selected,answer5_selected,answer6_selected,answer7_selected,answer8_selected,answer9_selected,answer10_selected,answer11_selected,answer12_selected,created_at,updated_at
0,os5048odsazv,006tq68icz4g,1,t,f,f,f,f,None,None,None,None,None,None,None,2018-03-17 16:15:50.334428,2018-03-17 16:15:50.334428
1,t5qwx5xdjcwy,006tq68icz4g,2,t,f,f,f,None,None,None,None,None,None,None,None,2018-03-17 16:16:03.192710,2018-03-17 16:16:03.19271
2,rok2mzb73rf6,006tq68icz4g,3,f,t,f,f,f,f,f,f,f,f,t,f,2018-03-17 16:16:37.648422,2018-03-17 16:16:37.648422
3,oilk23xum4ur,006tq68icz4g,4,f,t,f,None,None,None,None,None,None,None,None,None,2018-03-17 16:16:51.857495,2018-03-17 16:16:51.857495
4,utjiy4kgyvre,006tq68icz4g,5,f,f,t,f,None,None,None,None,None,None,None,None,2018-03-17 16:17:09.312639,2018-03-17 16:17:09.312639


## 2. Survey 정보를 cleaning해주세요.

>- answer 값이 't', 'f'로 입력되어 있는데 이를 True, False로 변환해주세요.
>- created_at과 updated_at을 datetime 형식으로 변환해주세요.
>- 같은 user_id가 여러번의 설문조사를 응답한 경우도 제거해주세요.
>- created_at과 updated_at을 datetime 자료형으로 변환해주세요.
>- 같은 유저가 여러번 설문조사를 응답한 경우를 제거해주세요,

In [20]:
survey[survey.columns[3:-2]].apply(lambda x: )

,answer1_selected,answer2_selected,answer3_selected,answer4_selected,answer5_selected,answer6_selected,answer7_selected,answer8_selected,answer9_selected,answer10_selected,answer11_selected,answer12_selected
0,t,f,f,f,f,None,None,None,None,None,None,None
1,t,f,f,f,None,None,None,None,None,None,None,None
2,f,t,f,f,f,f,f,f,f,f,t,f
3,f,t,f,None,None,None,None,None,None,None,None,None
4,f,f,t,f,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...
136058,t,f,None,None,None,None,None,None,None,None,None,None
136059,t,f,None,None,None,None,None,None,None,None,None,None
136060,f,t,None,None,None,None,None,None,None,None,None,None
136061,t,f,None,None,None,None,None,None,None,None,None,None
136062,t,f,None,None,None,None,None,None,None,None,None,None

In [25]:
cols = survey.columns[3:-2]
def change_tf(row):
    
    for col in cols:
        if row[col] == 't':
            row[col] = True
        elif row[col] == 'f':
            row[col] = False
        else:
            row[col] = row[col]
    return row

In [30]:
survey.iloc[:, 3:-2].apply(change_tf)

,answer1_selected,answer2_selected,answer3_selected,answer4_selected,answer5_selected,answer6_selected,answer7_selected,answer8_selected,answer9_selected,answer10_selected,answer11_selected,answer12_selected
0,t,f,f,f,f,None,None,None,None,None,None,None
1,t,f,f,f,None,None,None,None,None,None,None,None
2,f,t,f,f,f,f,f,f,f,f,t,f
3,f,t,f,None,None,None,None,None,None,None,None,None
4,f,f,t,f,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...
136058,t,f,None,None,None,None,None,None,None,None,None,None
136059,t,f,None,None,None,None,None,None,None,None,None,None
136060,f,t,None,None,None,None,None,None,None,None,None,None
136061,t,f,None,None,None,None,None,None,None,None,None,None
136062,t,f,None,None,None,None,None,None,None,None,None,None

In [22]:
survey.columns[3:-2] + '(bool)'

Index(['answer1_selected(bool)', 'answer2_selected(bool)',
       'answer3_selected(bool)', 'answer4_selected(bool)',
       'answer5_selected(bool)', 'answer6_selected(bool)',
       'answer7_selected(bool)', 'answer8_selected(bool)',
       'answer9_selected(bool)', 'answer10_selected(bool)',
       'answer11_selected(bool)', 'answer12_selected(bool)'],
      dtype='object')

In [23]:
cols = survey.columns[3:-2]
cols

Index(['answer1_selected', 'answer2_selected', 'answer3_selected',
       'answer4_selected', 'answer5_selected', 'answer6_selected',
       'answer7_selected', 'answer8_selected', 'answer9_selected',
       'answer10_selected', 'answer11_selected', 'answer12_selected'],
      dtype='object')